
:root {

    --step--2: clamp(0.78rem, calc(0.71rem + 0.38vw), 1.00rem);
    --step--1: clamp(0.94rem, calc(0.83rem + 0.54vw), 1.25rem);
    --step-0: clamp(1.13rem, calc(0.97rem + 0.76vw), 1.56rem);
    --step-1: clamp(1.35rem, calc(1.14rem + 1.05vw), 1.95rem);
    --step-2: clamp(1.62rem, calc(1.33rem + 1.43vw), 2.44rem);
    --step-3: clamp(1.94rem, calc(1.56rem + 1.93vw), 3.05rem);
    --step-4: clamp(2.33rem, calc(1.82rem + 2.58vw), 3.82rem);
    --step-5: clamp(2.80rem, calc(2.11rem + 3.42vw), 4.77rem);
  }

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px greenyellow solid; */
}

/** Framework */

.container {        

    margin: 0 auto; 
    padding: 0 15px;
}

/* Small */

@media (min-width: 768px) {
  
    .container {
        width: 750px;
  }
}

/* Medium */

@media (min-width: 992px) {

    .container {
        width: 970px;
  }
}

/* Large */

@media (min-width: 1200px) {

    .container {
        width: 1170px;
  }
}

.flex {

    display: flex;
    justify-content: center;
    align-items: center;
}


/** The Styling  */

body {

    background-color: hsl(0, 0%, 98%);
    /* font-size: var(--step-0); */
    font-family: sans-serif;
    min-height: 100vh;
}

body > main {

    display: flex;
    flex-direction: column;
    gap: 5em;
    padding-top: 70px !important;
    padding-bottom: 70px !important;
}

main .info {

    text-align: center;
    color: hsl(234, 12%, 34%);
    font-size: var(--step-1);
}

main .info > h1 {

    font-size: 1em;
}

main .info .title {

    font-weight: 100;
}
main .info > p {

    color: hsl(229, 6%, 66%);
    max-width: 500px;
    margin-inline: auto;
    margin-top: 1em;
    font-size: .5em;
}

main .cards {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    font-size: var(--step--1);
}

main .cards > div {
   
    margin: auto;
}

main .cards .card {

    width: 300px;
    height: 220px;
    background-color: #fff;
    padding: 25px;
    border-top: 3px solid;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 5px 13px 3px hsl(229deg 35.3% 61.59% / 25%);
    flex-shrink: 0;
}

main .cards .column {

    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main .cards .column .card {

    width: 100%;
}

main .cards .card:nth-of-type(1) {

    border-color: hsl(180, 62%, 55%);
}

main .cards .card:nth-of-type(3) {

    border-color: hsl(212, 86%, 64%);
}

main .cards .column .card:nth-of-type(1) {

    border-color: hsl(0, 78%, 62%);
}

main .cards .column .card:nth-of-type(2) {

    border-color: hsl(34, 97%, 64%);
}

main .cards .card > h1.title {

    font-size: 1em;
    margin-bottom: 0.4em;
    color: hsl(234, 12%, 34%);
}


main .cards .card > p {

    font-size: .65em;
    line-height: 1.4;
    letter-spacing: .5px;
    color: hsl(229, 6%, 66%);
}

main .cards .card > img {
    
    position: absolute;
    right: 26px;
    bottom: 26px;
    width: 2.5em;
}

/* ============================= */

@media (min-width: 767px) and (max-width: 992px) {
    
    main .cards {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
}

@media (max-width: 493px) {

    .media-font--2 {
        font-size: var(--step--2) !important;
    }
    main .info > p {
        font-size: 0.7em;
        width: 220px;
    }
    main .cards .card {
        height: 150px;
        width: 240px !important;
        padding: 15px;
        margin-inline: auto;
    }
    main .info > h1 {
        font-size: 1.4em;
    }
}